<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="challenge.questboard" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="challenge.questboard.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="challenge.questboard.QuestBoardActivity"
            android:label="@string/title_activity_quest_board"
            android:parentActivityName="challenge.questboard.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="challenge.questboard.MainActivity" />
        </activity>
        <activity
            android:name="challenge.questboard.QuestDetailsActivity"
            android:label="@string/title_activity_quest_details"
            android:parentActivityName="challenge.questboard.QuestBoardActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="challenge.questboard.QuestBoardActivity" />
        </activity>
        <activity
            android:name="challenge.questboard.RegistrationActivity"
            android:label="@string/title_activity_registration"
            android:parentActivityName="challenge.questboard.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="challenge.questboard.MainActivity" />
        </activity>
        <activity
            android:name="challenge.questboard.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="challenge.questboard.QuestBoardActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="challenge.questboard.QuestBoardActivity" />
        </activity>
    </application>

</manifest>
